<div layout:decorate="~{layout}" layout:fragment="content">
    <h2 class="mb-4">Sửa Thông Tin Sách</h2>
    <form th:action="@{/books/edit}" th:object="${book}" method="post" class="form-control mt-4">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label for="title" class="form-label">Tiêu đề:</label>
            <input type="text" id="title" th:field="*{title}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Tác giả:</label>
            <input type="text" id="author" th:field="*{author}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Cập nhật Sách</button>
        <a th:href="@{/books}" class="btn btn-secondary">Hủy</a>
    </form>
</div>
