<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{_layout}">

<head>
    <title>List Products</title>
</head>

<body>
    <div layout:fragment="content">
        <h2>List Products</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${listproduct}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <img th:if="${product.image != null}" th:src="@{'/images/' + ${product.image}}" width="100" />
                    </td>
                    <td th:text="${product.category != null} ? ${product.category.name} : 'N/A'"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>